.main-icon {
    float: left; /* Float the image to the left */
    margin-right: 10px; /* Add some margin to create spacing between the image and the heading */
}
#main-content {
    margin-top: 20px;
    margin-bottom: 100px;
}
.aplayer-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.alert {
    text-align: center;
}