<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetHard Music</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.2/dist/cosmo/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

</head>

<body>
    {% include 'admin_navbar.html' %}

    <div class="container">
        <div class="jumbotron" id="bigboi">
            <h1 class="display-5">歡迎來到管理頁面</h1>
            <p class="lead">按上面任何一個按鈕進行管理</p>
        </div>
    </div>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>

</body>

</html>