<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetHard Music</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.2/dist/cosmo/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    
</head>

<body>
    {% include 'admin_navbar.html' %}
    <div class="container" id="main-content">
        <form class="form-inline my-2 my-lg-0" id="search-bar">
            <button type="button" class="btn btn-primary mr-sm-2">Add playlist</button>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="flashMessages">
            {% for message in messages %}
            <div class="alert alert-dismissible alert-primary">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Table for displaying users -->
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Creator</th>
                    <th>Amount</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop over users and create a row for each user -->
                {% for playlist in playlists %}
                <tr>
                    <td>{{ playlist.name }}</td>
                    <td>{{ playlist.creator }}</td>
                    <td>{{ playlist.amount }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm">刪除</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
    
</body>

</html>